* {
    margin: 0;
    padding: 0;
}

/* header !*/
header {
    background-color: rgb(13, 10, 11);
    color: white;
    width: 100%;
    border-bottom: 1px solid rgb(84, 82, 82);
}

.header_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 300px 20px 300px;
    height: 60px;
}

.little_menu_left > ul {
    display: flex;
    list-style: none;
}

.little_menu_left > ul li {
    padding-right: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #787878;
}

.menu_left {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.menu_icon_left img {
    padding-right: 10px;
}
.menu_txt_left span {
    padding-left: 50px;
    font-size: 17px;
}

.header_left {
    height: 100%;
}

.header_right {
    height: 100%;
}

.little_menu_right > ul {
    display: flex;
    list-style: none;
    padding-left: 160px;
    justify-content: flex-end;
}

.little_menu_right > ul li {
    padding-left: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #787878;
}
.menu_right {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.menu_txt_right span {
    padding-right: 50px;
    font-size: 17px;
}

.menu_txt_right {
    padding-top: 8px;
}

.menu_icon_right {
    display: flex;
    align-items: center;
}

.menu_icon_right img {
    padding-left: 10px;
}

/* main */

.section1 {
    background-color: rgb(19, 14, 16);
    position: relative;
    height: 780px;
}
.section1_wrap {
    color: white;
    padding: 50px 300px 50px 300px;
}

.box_office {
    text-align: center;
    padding: 20px;
}

.box_office span:nth-child(1) {
    border-bottom: 1px solid rgb(169, 166, 166);
    padding-bottom: 5px;
}

.box_office span:nth-child(2) {
    position: absolute;
    right: 18.5%;
    color: rgb(188, 182, 182);
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(188, 182, 182);
}

a:visited {
    text-decoration: none;
}

.movie_wrap {
    display: flex;
    justify-content: space-between;
}

.movie img {
    width: 230px;
    height: 330px;
    border-radius: 5px;
}

.movie_btn {
    padding-top: 3px;
}

.movie_btn > button:first-child {
    cursor: pointer;
    width: 68px;
    height: 32px;
    color: white;
    background-color: transparent;
    border: 0.5px solid rgb(158, 156, 156);
    border-radius: 3px;
}

.movie_btn > button:last-child {
    width: 158px;
    height: 32px;
    background-color: rgb(0, 123, 147);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.search_link {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px 0 20px 0;
}

.search_link > div {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    position: relative;
    color: #9d9898;
}

.search_bar > input {
    border: 0;
    width: 160px;
    background-color: transparent;
    padding-left: 10px;
    color: #787878;
    border-bottom: 1px solid #423e3e;
    padding: 0 24px 4px 12px;
}

.search_bar > input:focus {
    outline: none;
}

.search_bar i {
    position: absolute;
    right: 40px;
    cursor: pointer;
    margin-bottom: 8px;
}

.search_info {
    border-left: 0.5px solid #999;
}

.search_info img {
    vertical-align: middle;
    margin-right: 16px;
    color: #9d9898;
}

.mouse {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
}

.mouse > img {
    top: 12px;
    animation: mouse 2s linear infinite;
    position: absolute;
}

@keyframes mouse {
    50% {
        top: 0px;
    }
    70% {
        top: 12px;
    }
    100% {
        top: 12px;
    }
}

/* section2 */

.section2 {
    position: relative;
    padding: 50px 300px 50px 300px;
}

.section2::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 513px;
    bottom: 0;
    background-color: #503396;
    height: 400px;
}

.benefits {
    justify-content: space-between;
    display: flex;
}

.benefits > span {
    font-size: 30px;
    font-weight: 400;
    color: #351f66 !important;
}

.section2_ad {
    display: flex;
}

.section2_ad12 {
    z-index: 0;
}

.ad1 {
    display: flex;
}

.ad1 > img:first-child {
    width: 320px;
    height: 250px;
}

.ad1 > img:last-child {
    width: 360px;
    height: 300px;
}

.ad2 {
    display: flex;
}

.ad2 > img {
    border-radius: 5px;
}

.ad2 > img:first-child {
    width: 425px;
    height: 220px;
    box-shadow: 0px 5px 10px #444;
}

.ad2 > img:last-child {
    height: 220px;
    border-radius: 5px;
    margin-left: 13px;
}

.ad3 {
    z-index: 0;
}

.ad3 > img {
    border-radius: 5px;
    height: 520px;
}

.section2_btns {
    display: flex;
    position: relative;
    padding: 50px;
    justify-content: space-between;
}

.section2_btns button > img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.section2_btns button {
    background-color: transparent !important;
    border: none;
}

.section2_btns button span {
    color: white;
}

/* section3 */

.section3 {
    position: relative;
    padding: 50px 300px 50px 300px;
    background-color: rgb(38, 36, 81);
    height: 680px;
}

.section3 > div {
    display: flex;
}

.curation {
    justify-content: space-between;
    padding-bottom: 35px;
}

.curation > span {
    font-size: 15px;
    color: gray;
}

.curation > span i {
    font-size: 18px;
    padding-left: 8px;
}

.section3 > div > h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.section3_aida img {
    border-radius: 15px;
}

.aida_btn {
    padding-top: 5px;
}
.aida_btn button {
    width: 140px;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.aida_btn button:first-child {
    background-color: transparent;
    border: 1px solid white;
}

.aida_btn button:last-child {
    background-color: rgb(0, 123, 147);
    border: none;
    margin-left: 8px;
}

.section3_article {
    padding-left: 50px;
    color: white;
}

.summary {
    padding-bottom: 10px;
}

.summary_title {
    border-bottom: 1px solid gray;
    width: 687px;
    padding-bottom: 20px;
}

.summary_title p:first-child {
    font-size: 20px;
    padding-bottom: 10px;
}

.summary_title p:last-child {
    font-size: 36px;
}

.summary_content {
    padding-top: 20px;
    font-size: 15px;
}

.section3_imgs {
    display: flex;
}

.section3_imgs div img {
    border-radius: 10px;
}

.section3_imgs div p {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding-top: 5px;
    font-size: 14px;
}

.full_ad {
    width: 100%;
}
